faiss-cpu==1.7.1.post2
Hydra==2.5
hydra-core==1.1.0
joblib==1.0.1
jsonlines==2.0.0
numpy==1.19.5
omegaconf==2.1.0
packaging==21.0
pandas==1.1.5
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
sklearn==0.0
spacy==3.0.6
spacy-legacy==3.0.6
thinc==8.0.7
tokenizers==0.8.1rc1
torch==1.7.0
tqdm==4.61.1
transformers==3.0.2
omegaconf>=2.0.1
wget==3.2